Debug/*
Release/*
ImGuiOrx/Debug/*
ImGuiOrx/Release/*
*.sdf
ImGuiOrx/x64/*
*.pdb
*.VC.db
.vs/ImGuiOrx/v14/*
*.opendb
build/vc2015/.vs/*
build/vc2015/Debug/*
build/vc2015/Release/*
/build/vc2017/.vs/*
/build/vc2017/Debug/*
/build/vc2017/Release/*
